@import "../../../../shared/variables";

table {
  color: white;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

tr > th {
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  background-color: #121212;
  padding: 0;
  height: 1.5rem;
  text-align: left;
}

th,
td {
  border-collapse: collapse;
  background-color: $gray;
  border-bottom: 3px solid #121212;
  height: 3.8rem;
}

tr:hover {
  background-color: $highlight-gray;
}

tr:hover td {
  background-color: transparent; /* or #000 */
}

// here we specify the width for every entry in the table head
// title col
th:nth-child(1) {
  width: 50%;
}
// price col
th:nth-child(2) {
  width: 6%;
}
// reviews col
th:nth-child(3) {
  width: 15%;
}
// store col
th:nth-child(4) {
  width: 3%;
}

// end of width for head items

// inherit color otherwise these look ugly
span,
del,
div,
a {
  background-color: inherit;
}

// place these into a div so we can center the text + icon
.head-items-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  cursor: pointer;
}

// and also set a little animation <3
.head-items-container:hover {
  i {
    animation: move-up 0.4s;
    position: relative;
  }
}

.game-title-img-col {
  a {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  img {
    width: 120px;
    height: 45px;
  }
}

.price-col {
  div {
    display: flex;
    flex-direction: column;
  }
  span {
    color: $secondary;
  }

  del {
    font-size: 0.8rem;
    color: gray;
  }
}

.store-icon-col {
  img {
    border-radius: 50%;
  }
  span {
    display: flex;
    justify-content: center;
  }
}

.steam-positive {
  color: $info;
}

.steam-mixed {
  color: $warning;
}

.steam-negative {
  color: $negative;
}

.no-data {
  color: $light-gray;
}

.mobile {
  display: none;
}

hr {
  border: 6px solid #121212;
}

// @media screen and (max-width: 980px) {
//   .head-items-container > i {
//     display: none;
//   }

//   .mobile {
//     display: block;
//   }

//   .game-title-img-col {
//     a {
//       text-align: right;
//     }

//     a > img {
//       display: none;
//     }

//     a > span {
//       width: 15rem;
//     }
//   }

//   table tr {
//     display: block;
//   }

//   table td {
//     display: flex;
//     justify-content: space-between;
//     border: none;
//   }

//   // store col
//   th:nth-child(1) {
//     width: 100vw;
//   }
//   // price col
//   th:nth-child(2) {
//     width: 100vw;
//   }
//   // title col
//   th:nth-child(3) {
//     width: 100vw;
//   }
//   // date col
//   th:nth-child(4) {
//     width: 100vw;
//   }
// }

// // just make the padding small so it works at a max width of 320px
// @media screen and (max-width: 356px) {
//   th {
//     padding: 0.7rem;
//   }
// }

// @keyframes move-up {
//   0%,
//   100% {
//     bottom: 0;
//   }
//   50% {
//     bottom: 0.5rem;
//   }
// }
