$primary: #ce93d8;
$secondary: #a5d6a7;
$success: #c5e1a5;
$info: #90caf9;
$warning: #fff59d;
$help: #ce93d8;
$danger: #ef9a9a;
$negative: #974535;

$gray: rgb(30, 30, 30);
$light-gray: rgb(64, 64, 64);
$highlight-gray: #272727;
