<form [formGroup]="filtersForm">
    <fieldset>
        <label for="filter-choices">Sort by </label>
        <div class="custom-select">
            <select formControlName="filters" id="filter-choices">
                <option value="">Deal Rating</option>
                <option value="title">Title</option>
                <option value="price">Price</option>
                <option value="reviews">Reviews</option>
                <option value="store">Store</option>
            </select>
            <span class="custom-arrow"></span>
        </div>
        <label for="order-choices">Order </label>
        <div class="custom-select">
            <select formControlName="order" id="order-choices">
                <option value="0">Ascending</option>
                <option value="1">Descending</option>
            </select>
            <span class="custom-arrow"></span>
        </div>
        <label for="game-title">Title</label>
        <input type="text" id="game-title">
    </fieldset>
    <fieldset>
        <label for="scales">AAA Only</label>
        <input type="checkbox" id="scales" name="scales">
        <label for="horns">Steamworks</label>
        <input type="checkbox" id="horns" name="horns">
        <label for="horns">On Sale</label>
        <input type="checkbox" id="horns" name="horns">
        <button>Stores</button>
    </fieldset>
    <fieldset>
        <label for="price">Price range</label>
        <input type="range" name="price">
        <label for="rating">Steam rating</label>
        <input type="range" name="price">
        <button type="button" (click)="filtersApplied()">Apply filters</button>
    </fieldset>
</form>