@import "../../../../shared/variables";
form {
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  font-size: 0.75rem;
}

fieldset {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}

select,
input {
  font-size: 0.8rem;
  background-color: $gray;
  padding: 0.5em 1.5em 0.5em 0.3em;
  outline: none;
  border: 0;
  cursor: pointer;
}

input {
  cursor: auto;
}

option {
  background-color: inherit;
}

// custom select, thanks kevin powell <3
.custom-select {
  position: relative;
}

.custom-arrow {
  display: block;
  background-color: $light-gray;
  height: 100%;
  width: 1.4rem;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.custom-arrow::before,
.custom-arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-arrow::before {
  border-left: 0.35em solid transparent;
  border-right: 0.35em solid transparent;
  border-bottom: 0.35em solid white;
  top: 35%;
}

.custom-arrow::after {
  border-left: 0.35em solid transparent;
  border-right: 0.35em solid transparent;
  border-top: 0.35em solid white;
  top: 65%;
}

input[type="range"] {
  -webkit-appearance: none !important;
  background: $gray;
  height: 1px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: $light-gray;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
