<form>
    <fieldset>
        <label for="filters">Sort by</label>
        <select name="filter-choices" id="filters">
            <option value="">Deal Rating</option>
            <option value="title">Title</option>
            <option value="price">Price</option>
            <option value="reviews">Reviews</option>
            <option value="store">Store</option>
        </select>
    </fieldset>
    <fieldset>
        <label for="order">Order</label>
        <select name="order-choices" id="order">
            <option value="0">Ascending</option>
            <option value="1">Descending</option>
        </select>
    </fieldset>
</form>