/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
  background-color: rgb(18, 18, 18);
  color: white;
  font-family: "Roboto";
}

// scroll bar styling
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #121212;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1e1e1e;
}

// for the svg icons
i {
  background-color: inherit;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
