:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.top {
  z-index: 200;
}

a {
  text-decoration: none;
  color: white;
}

tr:hover {
  background-color: #272727;
}

.price-col {
  width: 10rem;
  span {
    color: #a5d6a7;
  }
  del {
    color: gray;
  }
}

.store-icon-col {
  width: 6rem;
  span {
    display: flex;
    justify-content: center;
  }
}

.game-title-img-col {
  img {
    width: 102px;
    height: 39px;
    vertical-align: middle;
  }
}

.steam-positive {
  color: #66c0f4;
}

.steam-mixed {
  color: #b79e74;
}

.steam-negative {
  color: #974535;
}

.no-data {
  color: gray;
}

.hover {
  cursor: pointer;
}
