<table>
  <thead>
    <tr>
      <th>Store</th>
      <th (click)="sortByPriceClick()">Price</th>
      <th>Title</th>
      <th>Release</th>
      <th>Reviews</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let deal of deals">
      <td class="store-icon-col">
        <span>
          <img src="https://www.cheapshark.com/img/stores/icons/{{ +deal.storeID - 1 }}.png" alt="store icon">
        </span>
      </td>
      <td class="price-col">
        <span>{{ deal.salePrice }}$</span>
        <del>{{ deal.normalPrice }}$</del>
      </td>
      <td class="game-title-img-col">
        <a href="https://www.cheapshark.com/redirect?dealID={{ deal.dealID }}" target="_blank">
          <img src="{{ deal.thumb }}" alt="{{ deal.title }} image" />
          <span>{{ deal.title }}</span>
        </a>
      </td>
      <td>
        {{ deal.releaseDate * 1000 | date:'shortDate' }}
      </td>
      <td [ngClass]="styleReviewCol(+deal.steamRatingPercent)">
        {{ deal?.steamRatingText || "No data" }}
      </td>
    </tr>
  </tbody>
</table>