@import "../../../shared/variables.scss";

table {
  border-collapse: collapse;
  color: white;
}

thead {
  position: sticky;
  top: 0;
}

.head-items-container {
  display: flex;
  align-items: center;
  background-color: inherit;
  gap: 1rem;
}

th:hover {
  i {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97);
  }
  cursor: pointer;
}

th,
td {
  background-color: $gray;
  padding: 1rem;
  text-align: start;
  border-bottom: 1px solid $light-gray;
}

span {
  background-color: $gray;
}

del {
  background-color: $gray;
}

.price-col {
  width: 5rem;
  span {
    color: $green;
  }

  del {
    padding-left: 0.5em;
    color: gray;
  }
}

.store-icon-col {
  width: 5rem;
  img {
    border-radius: 50%;
  }
  span {
    display: flex;
    justify-content: center;
  }
}

.game-title-img-col {
  width: 35rem;
  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: $gray;
    text-decoration: none;
    color: white;
  }

  img {
    width: 102px;
    height: 39px;
  }
}

.reviews-col {
  width: 12rem;
}

.steam-positive {
  color: $steam-positive;
}

.steam-mixed {
  color: $steam-mixed;
}

.steam-negative {
  color: $steam-negative;
}

.no-data {
  color: $light-gray;
}

@media only screen and (max-width: 600px) {
  th,
  td {
    padding: 0.5rem;
  }
  .game-title-img-col {
    a {
      flex-direction: column;
      text-align: center;
    }
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(0, -5px, 0);
  }

  20%,
  80% {
    transform: translate3d(0, -5px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(0, 5px, 0);
  }

  40%,
  60% {
    transform: translate3d(0, 5px, 0);
  }
}
