@import "../../../shared/variables.scss";

table {
  border-collapse: collapse;
  color: white;
}

thead {
  position: sticky;
  top: 0;
}

th,
td {
  background-color: $gray;
  padding: 1rem;
  text-align: start;
  border-bottom: 1px solid $light-gray;
}

span {
  background-color: $gray;
}

del {
  background-color: $gray;
}

.price-col {
  width: 8rem;
  span {
    color: $green;
  }

  del {
    padding-left: 0.5em;
    color: gray;
  }
}

.store-icon-col {
  span {
    display: flex;
    justify-content: center;
  }
}

.game-title-img-col {
  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: $gray;
    text-decoration: none;
    color: white;
  }

  img {
    width: 102px;
    height: 39px;
  }
}

.steam-positive {
  color: $steam-positive;
}

.steam-mixed {
  color: $steam-mixed;
}

.steam-negative {
  color: $steam-negative;
}

.no-data {
  color: $light-gray;
}

@media only screen and (max-width: 600px) {
  th,
  td {
    padding: 0.5rem;
  }
  .game-title-img-col {
    a {
      flex-direction: column;
      text-align: center;
    }
  }
}
