<table>
  <thead>
    <tr>
      <th>
        <div class="head-items-container" (click)="onTableSort('Store')">
          <span>Store</span>
          <i class="material-icons">storefront</i>
        </div>
      </th>
      <th>
        <div class="head-items-container" (click)="onTableSort('Price')">
          <span>Price</span>
          <i class="material-icons">sell</i>
        </div>
      </th>
      <th>
        <div class="head-items-container" (click)="onTableSort('Title')">
          <span>Title</span>
          <i class="material-icons">sports_esports</i>
        </div>
      </th>
      <th>
        <div class="head-items-container" (click)="onTableSort('Release')">
          <span>Date</span>
          <i class="material-icons">calendar_month</i>
        </div>
      </th>
      <th>
        <div class="head-items-container" (click)="onTableSort('Reviews')">
          <span>Reviews</span>
          <i class="material-icons">reviews</i>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let deal of deals">
      <td class="store-icon-col">
        <span>
          <img src="https://www.cheapshark.com/img/stores/icons/{{ +deal.storeID - 1 }}.png" alt="store icon">
        </span>
      </td>
      <td class="price-col">
        <span>{{ deal.salePrice }}$</span>
        <del>{{ deal.normalPrice }}$</del>
      </td>
      <td class="game-title-img-col">
        <a href="https://www.cheapshark.com/redirect?dealID={{ deal.dealID }}" target="_blank">
          <img src="{{ deal.thumb }}" alt="{{ deal.title }} image" />
          <span>{{ deal.title }}</span>
        </a>
      </td>
      <td>
        <ng-container *ngIf="deal.releaseDate !== 0; else noData">
          {{deal.releaseDate * 1000 | date : 'shortDate'}}
        </ng-container>
      </td>
      <td [ngClass]="styleReviewCol(+deal.steamRatingPercent)">
        {{ deal.steamRatingText || "No data" }}
      </td>
    </tr>
  </tbody>
</table>

<!-- reusable no data template -->
<ng-template #noData>
  <span class="no-data">No data</span>
</ng-template>